In [ ]:
import pandas as pd
import numpy as np
import os
import psycopg2
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv

load_dotenv()

conn_params = {
    "dbname": os.getenv("DB_NAME"),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
    "host": os.getenv("DB_HOST"),
    "port": os.getenv("DB_PORT", "5432"),
}

def fetch_table_as_dataframe(table_name, where_clause=None, params=None):
    """
    Fetch an entire PostgreSQL table and convert it to a pandas DataFrame.
    
    Args:
        table_name (str): Name of the table to fetch
        where_clause (str, optional): WHERE clause for filtering (without 'WHERE' keyword)
        params (tuple, optional): Parameters for the WHERE clause
    
    Returns:
        pd.DataFrame: The table data as a DataFrame
    """
    with psycopg2.connect(**conn_params) as conn:
        with conn.cursor() as cur:
            # Build the query
            if where_clause:
                query = f"SELECT * FROM {table_name} WHERE {where_clause}"
            else:
                query = f"SELECT * FROM {table_name}"
            
            # Execute query
            if params:
                cur.execute(query, params)
            else:
                cur.execute(query)
            
            # Fetch all rows and column names
            rows = cur.fetchall()
            columns = [desc[0] for desc in cur.description]
    
    # Create DataFrame
    df = pd.DataFrame(rows, columns=columns)
    print(f"Table '{table_name}': {len(df)} rows fetched")
    return df

kyb_job_df = fetch_table_as_dataframe("kyb_job")
# Display the results
print(f"DataFrame shape: {kyb_job_df.shape}")
print("\nFirst few rows:")
print(kyb_job_df.head())

UndefinedTable: relation "kyb_job" does not exist